* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-logo {
    text-align: left;
    padding: 10px 0px;
    color: black;
    font-family: the sunday bite;
    font-size: 25px;
    padding: 25px 35px;
    float: left;
}
.header-logo h3 {
    color: gold;
    background-color: black;
    padding-left: 35px;
    letter-spacing: 30px;
}
.header-logo h1 {
    letter-spacing: 15px;
    padding-top: 20px;
}
.header-menus {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        font-size: medium;
        font-weight: bold;
}
.header-menus a {
    color: black;
    text-decoration: none;
}
.header-menus li {
    padding: 25px 0px;
    color: black;
}
.header-menus li:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}   
.header-menus li:hover:after {
    width: 100%;
    background: black;
}
.top {
    border: 5px solid #000;
    width: 50%;
    text-align: center;
    float: right;
    justify-content: space-evenly;
    margin-right: 150px;
    margin-left: 50px;
    font-family: the sunday bite;
    color: black;
    border-radius: 3px;
    font-size: 30px;
}
.top h4 {
    padding-top: 20px;
    padding-bottom: 30px;
}
.top p {
    padding-left: 0px;
    font-family: helvetica;
    color: gold;
    background-color: black;
}
.top button {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 3px;
}
.top button:hover {
    color: #C0C0C0;

}
.title {
    margin-bottom: 10%;
    color: white;
}
.article-item {
    background-color: black;
    color: white;
    padding: 35px;
    margin-bottom: 50px;
    width: 25%;
    border-radius: 3px;
    text-align: center;
}
.article-item img {
    width: 250px;
    height: 250px;
}
.article-item p {
    margin-bottom: 5px;
    margin-top: 10px;
}
.article-item a {
    color: rgba(221, 221, 221, 0.925);
    text-decoration: none;
    display:block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
}
.first-line {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.second-line {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.second-line img {
    width: 250px;
    height: 250px;
}
footer {
    margin: 15px 0px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid gray;
}
.footer-left {
    margin-top: 20px;
}
.footer-left h3 {
    color: gold;
    background-color: black;
    padding-left: 15px;
    letter-spacing: 10px;
}
.footer-right {
    display: flex;
    margin-left: 700px;
    margin-top: 40px;
    list-style: none;
    font-size: medium;
    font-weight: bold;
}
.footer-right li {
    color: black;
    padding-bottom: 20px;
}
.footer-right li:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}   
.footer-right li:hover:after {
    width: 100%;
    background: black;
}
.footer-right a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1024px) {
    .top {
        width:  35%;
    }
    .article-item img {
        width: 150px;
        height: 200px;
    }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    * {
        width: 100%;
        left: 0px;
        right: 0px;
    }
    .header-logo {
        padding-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
    }
    .header-logo h3 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-menus li {
        padding: 10px 0px;
        text-align: center;
    }
    .top {
        width: 80%;
        padding: 25px 50px;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 80px;
    }
    .top p {
        margin: 0px;
        padding: 0px;
    }
    body {
        padding: 0px;
        margin: 0px;
    }
    .article-item {
        width: 100%;
        margin-top: 20px;
    }
    .article-item img {
        width: 70px;
        height: 100px;
    }
    .article-item p {
        font-size: 15px;
        padding-left: 15px;
    }
    .first-line {
        display: flex;
        justify-content: space-evenly;
    }
    .footer-left h3 {
        padding-right: 0px;
    }
    .footer-right {
        margin-left: 50%;
        float: right;
    }
}
@media screen and (max-width: 670px) {
    .header-logo h3{
        padding-right: 0px;
        margin-right: 0px;
    }
    .top {
        width: 80%;
        font-size: 20px;
        float: none;
        margin-top: 30px;
    }
    footer {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
    }
    .footer-left h3 {
        font-size: 10px;
        margin-top: 20px;
        letter-spacing: 5px;
    }
    
}
